.App {
	text-align: center;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	display: flex;
	flex-direction: column;
}
.form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: darkgray;
	padding: 15px 0;
}
.form-control {
	width: 24%;
}
.Smurfs {
	margin-top: 15px;
}
.active {
	text-decoration: underline;
}
.NavLink {
	margin-left: 10px;
}
.smurfButton {
	margin: 5px;
}
